doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #navbar
      #nav-explore
        a.navitem(href='/stories/view') Explore
      #nav-contribute
        a.navitem(href='stories/new') Contribute
    block content
