doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #navbar
      #nav-explore
        a.navitem(href='/stories') EXPLORE
      #nav-contribute
        a.navitem(href='stories/new') CONTRIBUTE
    block content
