doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #navbar
      if(path.includes("new"))
        #nav-explore-passive
          a.navitem(href='/stories') EXPLORE
      else
        #nav-explore-active
          a.navitem(href='/stories') EXPLORE

      if(path.includes("new"))
        #nav-contribute-active
          a.navitem(href='/stories/new') CONTRIBUTE
      else
        #nav-contribute-passive
          a.navitem(href='/stories/new') CONTRIBUTE
    block content
