doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Social Experience
    h4#subheader See the unseen • Speak the unspoken
    #navbar
      if(path.includes("new"))
        #nav-explore-passive
          a.navitem-passive(href='/stories') EXPLORE
      else
        #nav-explore-active
          a.navitem-active(href='/stories') EXPLORE

      if(path.includes("new"))
        #nav-contribute-active
          a.navitem-active(href='/stories/new') CONTRIBUTE
      else
        #nav-contribute-passive
          a.navitem-passive(href='/stories/new') CONTRIBUTE

    block content
