extends layout


block content
  h1= title
  p Stuff that can't be found in travel guides nor Wikipedia
  br
  br
  form#story(name="submit-story", method="post", action="/stories") Share your story
    ul.form
      li.form-item
        //- span.label Country
        input#country.form-input-field(type="text", name="country", placeholder="Country")
      li.form-item
        //- span.label City
        input#city.form-input-field(type="text", name="city", placeholder="City")
      li.form-item
        //- span.label Category
        select#category.form-input-field
          option(value="" disabled selected) Category
          option(value="communication") Communications styles and rules
          option(value="socialroles") Social roles
          option(value="courtship") Courtship
      li.form-item
        //- span.label Perspective
        select#perspective.form-input-field
          option(value="" disabled selected) Perspective
          option(value="insider") Insider
          option(value="outsider") Outsider
      li.form-item
        //- span.label Title
        input#title.form-input-field(type="text", name="title", placeholder="Title")
      li.form-item
        //- span.label Your Experience
        textarea.form-input-field(name="Experience", cols="40", rows="5", placeholder="Your Experience")

      li.form-item
        input#submit(type="submit", value="Submit")
