body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

#nav-explore-passive, #nav-explore-active, #nav-contribute-passive, #nav-contribute-active {
  display: inline;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 1%;
}

#nav-explore-active, #nav-explore-passive {
  border-top-style: solid;
  border-top-color: #006080;
  border-left-style: solid;
  border-left-color: #006080;
}

#nav-contribute-active, #nav-contribute-passive {
  border-top-style: solid;
  border-top-color: #006080;
  border-right-style: solid;
  border-right-color: #006080;
}

#nav-explore-passive, #nav-contribute-passive, a.navitem-passive:link, a.navitem-passive:visited, a.navitem-passive:hover, a.navitem-passive:active {
  background-color: #006080;
  color: white;
}

#nav-explore-active, #nav-contribute-active, a.navitem-active:link, a.navitem-active:visited, a.navitem-active:hover, a.navitem-active:active {
  color: #006080;
}

#navbar {
    margin-bottom: 5%;
}

a.navitem-passive:link, a.navitem-passive:visited, a.navitem-passive:hover, a.navitem-passive:active, a.navitem-active:link, a.navitem-active:visited, a.navitem-active:hover, a.navitem-active:active {
  font-size: 30px;
  text-decoration: none;
}

.story-title, .story-content, .story-country, .story-category, .story-perspective {
  list-style: none;
}

.form {
  list-style-type: none;
  padding-top: 40px;
}

.form-item {
  margin-top: 15px;
  margin-bottom: 10px;
}

.form-input-field {
  width: 250px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/*filter*/
.filter-dropdown {
  width: 100px;
}

#left, #right, #center {
  display: inline-block;
  width: 30%;
}

#stories {
  padding-top: 2%;
  text-align: center;
}

.story {
  padding-top: 10px;
  border-bottom-style: solid;
  border-bottom-color: #33ccff;
}

.story:last-child {
  border: none;
}
